
.products-title{
    text-align: center;
    color: darkblue;
    padding-top: 50px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 20px;
    text-align: center;
    padding: 15px;
}
.manag-btn {
    text-align: center;
    padding-bottom: 35px;
}

.manage-btn {
    background-color: darkblue;
    text-align: center;
    color: white;
    border: 1px;
    border-radius: 5px;
}

 @media only screen and (max-width:576px){
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
 }

 @media only screen and (min-width:577px) and (max-width:992px){
     .products-container{
         grid-template-columns: repeat(2, 1fr);
     }
 }